<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delegate Work Order</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container w-50 p-3">
  <h1 class="display-5">กำหนดหน้าที่พนักงาน</h1>

  <form action="#" th:action="@{/delegate}" th:object="${newWorkOrder}" method="POST">

    <!-- แสดง detail ของ order นั้นๆ-->
<!--
    <tbody>
    <td th:field="*{order.id}"></td>
      <td th:text="${order.name}"></td>
      <td th:text="${order.price}"></td>
      <td th:text="${order.category}"></td>
      <td th:text="${order.stock}"></td>
      <td th:text="${order.user.firstName}"></td>
    </tr>
    </tbody>
    -->
<!--
    <div class="mb-3">
      <label >รายละเอียด Order</label>
        <span th:field="*{order.id}" th:text="${order.name} + ' ' + ${order.category}"> </span>
    </div>
    -->
<!--
    <div class="mb-3">
      <label>รายละเอียด Order</label>
      <select th:field="*{order.id}" class="form-control" >
        <option th:value="${orders.id}" th:text="${orders.name}+' '+${orders.category}+' '+${orders.stock}"></option>
      </select>
    </div>
    -->

    <div class="mb-3">
      <input type="hidden" th:value="*{order.id}" th:field="*{order.id}">
    </div>

    <div class="mb-3">
      <label >ระบุชื่อพนักงาน</label>
      <select th:field="*{user.id}" class="form-control">
        <option th:each="user: ${userSet}" th:value="${user.id}" th:text="${user.firstName} + ' ' + ${user.lastName}"></option>
      </select>
    </div>


    <div class="mb-3">
      <label >ระบุตำแหน่งพนักงาน</label>
      <select th:field="*{workRole}" class="form-control">
        <option value="หัวหน้างาน" selected>หัวหน้างาน</option>
        <option value="พนักงานขับรถขุดดิน">พนักงานขับรถขุดดิน</option>
        <option value="พนักงานขับรถบรรทุก">พนักงานขับรถบรรทุก</option>
        <option value="พนักงานคัดหิน">พนักงานคัดหิน</option>
        <option value="พนักงานเจาะหิน">พนักงานเจาะหิน</option>
        <option value="พนักงานอัดระเบิด">พนักงานอัดระเบิด</option>
      </select>
    </div>

    <div>
      <label>วันเริ่มงาน:</label>
      <input type="date" th:field="*{startDate}">
      <div class="alert alert-warning" th:if="${#fields.hasErrors('startDate')}"
           th:errors="*{startDate}"></div>
    </div>

    <div>
      <label>วันจบงาน:</label>
      <input type="date" th:field="*{finishDate}">
      <div class="alert alert-warning" th:if="${#fields.hasErrors('finishDate')}"
           th:errors="*{finishDate}"></div>
</div>

    <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>

</body>
</html>