<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Miner Web Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div class="container w-50 p-3">
    <h1 class="display-5">Add Order</h1>

    <form action="#" th:action="@{/order/add}" th:object="${newOrder}" method="POST">

        <!--<span th:text="${newOrder.user.firstName} + ' ' + ${newOrder.user.lastName}">ผู้สั่งออเดอร์</span>-->
        <!--
        <div class="mb-3">
            <select th:field="*{user.id}" class="form-control">
                <option th:each="user: ${userSet}" th:value="${user.id}" th:text="${user.email}"></option>
            </select>
        </div>
        -->
        <!--
        <div class="mb-3">
            <select th:field="*{user.id}" class="form-control" th:value="${userN.id}"></select>
        </div>
        -->

        <div class="mb-3">
            <label>ผู้สั่ง Order</label>
            <select th:field="*{user.id}" class="form-control" >
                <option th:value="${userIdd.id}" th:text="${userIdd.firstName}+' '+${userIdd.lastName}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label>ชื่อสินค้า</label>
            <select th:field="*{name}" class="form-control">
                <option th:value="${orderName.name}" th:text="${orderName.name}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label>ราคาต่อหน่วย</label>
            <select th:field="*{price}" class="form-control">
                <option th:value="${orderName.price}" th:text="${orderName.price}"></option>
            </select>
        </div>
        <!--
        <div class="mb-3">
            <h1>Name : <th:block th:text="${orderName.name}" th:field="*{name}" th:value="${orderName.name}"/></h1>
        </div>

        <div class="mb-3">
            <label>ผู้สั่ง Order</label>
            <input type="text" class="form-control"
                   th:field="*{user.id}" th:text="${userIdd.firstName}+' '+${userIdd.lastName}" th:value="${userIdd.id}">
        </div>
        -->
        <!--<span th:text="${newOrder.name}">ชื่อสินค้า</span>-->
        <!--
        <div class="mb-3">
            <label for="inputName">Name</label>
            <input id="inputName" type="text" class="form-control"
                   th:field="*{name}" >
            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}"
                 th:errors="*{name}"></div>
        </div>
        -->
        <div class="mb-3">
            <label for="inputCategory">Grade</label>
            <select id="inputCategory" class="form-select" th:field="*{category}">
                <option value="A" selected>A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>
            <div class="alert alert-warning"
                 th:if="${#fields.hasErrors('category')}"
                 th:errors="*{category}"></div>
        </div>
        <div class="mb-3">
            <label for="inputStock">จำนวน</label>
            <input id="inputStock" type="text" class="form-control"
                   th:field="*{stock}">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('stock')}"
                 th:errors="*{stock}"></div>
        </div>
        <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>