<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Miner Web Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div class="container">
    <h1 class="display-5">สถานะงาน</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ชื่อสินค้า</th>
            <th>Idของออเดอร์</th>
            <th>ชื่อลูกค้า</th>
            <th>สถานะงาน</th>
            <th>ตำแหน่งงาน</th>
            <th>วันเริ่มงาน</th>
            <th>วันสิ้นสุดงาน</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="work : ${works}">
            <td th:text="${work.order.name}"></td>
            <td th:text="${work.order.id}"></td>
            <td th:text="${work.user.firstName}"></td>
            <td class="text-success" th:text="${work.workStatus}"></td>
            <td th:text="${work.workRole}"></td>
            <td th:text="${work.startDate}"></td>
            <td th:text="${work.finishDate}"></td>
            <td><a class="btn btn-outline-success" th:href="@{/update/{workId}(workId=${work.id})}">เสร็จ</a></td>
            <td><a class="btn btn-outline-danger" th:href="@{/update2/{workId}(workId=${work.id})}">ยังไม่เสร็จ</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>